body {
    text-align: center;
    margin: 5% 20%
}

.ignore {
    display: none;
}

p {
    /* max-width: 400px; */
    text-align: center;
}

div {
    text-align: center;
    /* max-width: 600px; */
}

@media only print {

@page {
    margin: 2cm;
}

    body, h1, h2, h3, ol, ul, div, p {     width: auto;
             border: 0; 
                 margin: 1em 5%; 
                     padding: 0;  
                        float: none;   
                          position: static; 
                              overflow: visible;
                            color: black; }

                              body {
                                  margin: 1.6cm;
                              }
 
}